@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

*{
  margin: 0;
  padding: 0;
  font-family:'Oswald',sans-serif;
  letter-spacing: 2px;

}
.box1{
  height: 100vh;
  width: 100%;
  background-image: url(background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.navigation{
  width: 100%;
  height: 12vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo{
  width: 150px;
  cursor: pointer;
}
.addcart{
  width: 50px;
  cursor: pointer;
}
nav{
  flex: 1;
  padding-left: 50px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}
nav ul li a{
  text-decoration: none;
  font-weight: 700;
  color: #222;
}

/* Content */

.content h1{
  font-size: 60px;
  font-weight: 200;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #232d60;
}
.content p{
  font-size: 25px;
  color: #6a7199;
}
.content{
  margin-left: 10%;
  margin-top: 10%;
}
.content .button{
  display: inline-block;
  background: linear-gradient(45deg,#7aa3fe,#f861c1);
  border-radius: 6px;
  padding: 15px 50px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(98, 28, 68 ,0.6);
}
.arrows{
  margin-top: 40px;
  display: flex;
}
.arrows img{
  width: 40px;
  margin-right: 25px;
}
.main-image{
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 150px;
}
.social{
  /* transform: rotate(-90deg); */
  position: absolute;
  left: 30px;
  bottom: 100px;
  padding: 15px;
}
.social a{
  text-decoration: none;
  color: #7277d3;
}
.social ul li{
  padding: 20px;
  list-style: none;
}
.icon{
  transition: 0.5s;
}

/* hovering effects */

nav ul li:hover{
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
}
nav ul li,{
  transition: 0.5s;
}
.content .button{
  transition: 0.5s;
}
.content .button:hover{
  border-radius: 30px;
  transition: 0.5s;
  color: #fff;
  background: linear-gradient(45deg,#0051ff,#fa009e);
}
.icon:hover{
  color: #fff;
  transition: 0.5s;
}